<footer>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4" style="text-align:center;padding-top:20px">
      <img src="/img/drmariologo.svg" style="height:30px;">
      <p>Dr. Mario is a registered Trademark of Nintendo</p>
      <div id="message">
         <p>Coded with <img src="http://www.ryangiordano.x10host.com/images/heart.png" style="height:20px"> by Ryan Giordano</p>
      </div>
    </div><!--end col-md-4-->
  </div><!--end row-->
</div><!--end container-->
</footer>
