
      <!--end navbar-->
      <section class="buffer" ng-init="mainCtrl.index = 2">
         <div class="container">
            <div class="row">
               <div class="col-md-12 content-panel" style="margin-top:7em;margin-bottom:7em;">
                  <div class="title-container">
                     <div class="row">
                        <div class="col-md-12">
                           <img src="/img/drmariologo.svg" class="img-responsive">
                           <h2> {{title}}</h2>
                        </div>
                     </div>
                     <!--end row-->
                  </div>
                  <!--end col-md-12-->
               </div>
               <!--end row-->
            </div>
            <!--end container-->
         </div>
      </section>
