<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" arai-expanded="false">
        <span class="sr-only">ToggleNavigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="#home"><img src="/img/drmariologo.svg" style="height:30px;margin-top:-5px"></a>
    </div>
    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class=""ng-hide="mainCtrl.index == 1"><img src=""><a ng-href="#home">Home</a></li>
        <li ng-class=""ng-hide="mainCtrl.index == 1"><img src=""><a ng-href="#virus">Viruses</a></li>
        <li><a ng-href="#pills"ng-hide="mainCtrl.index == 1">Pills</a></li>
        <li ng-class=""ng-hide="mainCtrl.index == 1 || mainCtrl.index == 2"><a href="#reviews">Reviews</a></li>
        <li ><a href="" onclick="menuToggle()"><img src="/img/menu.svg" style="height:30px;margin-top:-5px"id="menu-icon"></a></li>
      </ul>

    </div>
  </div>
</nav>
