<div id="menu-over" style="display:none; opactiy:0;">    <div class="menu-wrap clear">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="menuContainer">
              <ul id="menu">
                <li><a ng-href="#home" onclick="menuToggle()">Just the title</a></li>
                <li><a ng-href="#index1" onclick="menuToggle()">Title with Viruses</a></li>
                <li><a ng-href="#index2" onclick="menuToggle()">Title with Viruses and pills</a></li>
                <li><a ng-href="#index3" onclick="menuToggle()">With Routes</a></li>
                <li><a ng-href="#index4" onclick="menuToggle()">Routes with Ratings</a></li>
              </ul>
            </div>
            <!--<div class="languageContainer">
                        <div style="margin:0px -10px 0px 0px;text-align:center;">
                           <h4>Also Available In:</h4>
                        </div>
                        <ul id="languageMenu">
                           <div style="border-bottom:1px solid;width:20%;margin:10px auto"></div>
                           <li><a href="#" onclick="menuToggle()">English</a></li>
                           <li><a href="#" onclick="menuToggle()">Japanese</a></li>
                           <li><a href="#" onclick="menuToggle()">Chinese</a></li>
                        </ul>
                     </div>-->
            <!--end languageContainer-->
            <!--end titleContainer-->
          </div>
          <!--end col-md-12-->
        </div>
        <!--end row-->
      </div>
      <!--end container-->
    </div>
  </div>
