<section id="reviews" class="buffer" ng-controller="reviewController as reviewCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="section-tag">
          <h2>
           Reviews
           <h2>
        </div>
     </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="review-panel">
        <form name="reviewForm" ng-submit="addReview();">
             <!--  Live Preview -->
          <blockquote>
            <h2>{{review.title}} </h2>
            <strong> {{review.rating}}/5</strong>
            <p>{{review.body}}</p>
            <cite class="clearfix">—{{review.author}}</cite>
          </blockquote>
          <h4>Submit a Review</h4>
          <fieldset class="form-group">
            <input ng-model="review.title" type="text" class="form-control" placeholder="Title" title="Title" />
          </fieldset>
          <fieldset class="form-group">
            <select ng-model="review.rating" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
              <option value="">Rate the Product</option>
            </select>
          </fieldset>

          <fieldset class="form-group">
            <textarea ng-model="review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
          </fieldset>
          <fieldset class="form-group">
            <input ng-model="review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
          </fieldset>
          <fieldset class="form-group">
            <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
          </fieldset>
          </form>
        </div>
        <!--end review-panel-->
      </div>
      <!--end col-md-6-->
    </div>
    <!--end row-->
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="review in reviews">
        <div class="review-panel">
          <h3>{{review.title}}</h3>
          <p><strong>{{review.rating}}/5</strong></p>
          <p>{{review.body}}</p>
          <p>Submitted {{review.createdOn | date:"mediumDate"}} by <a href="">{{review.author}}</a> </p>
        </div>
        <!--end col-md-4-->
      </div>
      <!--end col-md-4-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->




</section>
