<section id="reviews"class="buffer" ng-controller="reviewController as reviewCtrl">
<div class="container">
  <div class="row">
     <div class="col-md-4">
        <div class="section-tag">
           <h2>
           Reviews
           <h2>
        </div>
     </div>
  </div>
  <div class="row">
      <div class="col-md-4" ng-repeat="review in reviews">
          <div class="review-panel">

          </div><!--end col-md-4-->
      </div><!--end col-md-4-->
  </div><!--end row-->
</div><!--end container-->




</section>
