<section class="buffer" ng-controller="virusController as virusCtrl" ng-init="tab = 1">
   <div class="container">
      <div class="row">
         <div class="col-md-4">
            <div class="section-tag">
               <h2>
               Viruses
               <h2>
            </div>
         </div>
      </div>
      <!--end row-->
      <div class="row">
         <div class="col-md-4 " ng-repeat="virus in viruses">
            <div class="content-panel">
               <div class="virus-container">
                  <div class="row">
                     <div class="col-md-12">
                        <img ng-src="/img/{{virus.image}}" class="img-responsive">
                     </div>
                     <h3>{{virus.name}}</h3>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <ul class="nav nav-pills virus-nav">
                           <li ng-class="{tabActive: tab === 1}"><a href=""  ng-click="tab = 1">Description</a></li>
                           <li ng-class="{tabActive: tab === 2}"><a href=""  ng-click="tab = 2">Symptoms</a></li>
                           <li ng-class="{tabActive: tab === 3}"><a href=""  ng-click="tab = 3">Gallery</a></li>
                        </ul>
                        <!--end ul-->
                     </div>
                     <!--end col-md-12-->
                  </div>
                  <!--end row-->
                  <div class="row">
                     <div class="col-md-12 virus-content">
                        </div<!--end col-md-12-->
                     </div>
                     <!--end row-->
                     <div class="row">
                        <div class="col-md-12">
                           <div class="panel" ng-show="tab ===1">
                              <p><strong>Description: </strong> {{virus.description}}</p>
                              <p><strong>Severity: </strong> {{virus.severity}}</p>
                              <p><strong>Date Discovered: </strong> {{virus.date_discovered | date: 'MM/dd/yyyy'}}</p>
                           </div>
                           <!--end panel-->
                           <div class="panel" ng-show="tab ===2">
                              <p><strong>Symptoms: </strong> {{virus.symptoms}}</p>
                           </div>
                           <!--end panel-->
                           <div class="panel" ng-show="tab ===3">
                              <img  ng-src="/img/{{virus.gallery}}">
                           </div>
                           <!--end panel-->
                        </div>
                     </div>
                     <!--end row-->
                  </div>
                  <!--end col-md-12-->
               </div>
               <!--end row-->
            </div>
         </div>
      </div>
   </div>
   <!--end container-->
</section>
